{:deps {org.clojure/clojure        {:mvn/version "1.12.0"}
        org.clojure/clojurescript  {:mvn/version "1.11.132"}
        thheller/shadow-cljs       {:mvn/version "2.28.19"}
        no.cjohansen/replicant     {:git/url "https://github.com/cjohansen/replicant"
                                    ;; With this version the drag / :mousedown
                                    ;; only works once per div:
                                    :git/sha "156c3990f609e60c4ca87500002a247c1c7cf5f7"}
        datascript/datascript      {:mvn/version "1.7.4"}
        cjohansen/gadget-inspector {:mvn/version "0.2023.04.12"}}}
